/.settings/*
 
/html-template/*
/bin-debug/*
/bin-release/*
/bin/*
docs/*
obj/*
 
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project

*.air

Icon
Thumbs.db
.DS_Store
.psd
dist/*
report/*
doc/*
